.video-list {
	padding: rem(20px);
	border: 1px solid $clr3;
	border-radius: 10px;
	width: 55rem;
	margin-bottom: 2rem;
	overflow-y: auto;
	height: 100%;
	overflow-x: hidden;
	background-color: $clr3;
	ul {
		padding: 0;
		margin: 0;
	}
	.video-preview {
		display: flex;
		justify-content: space-between;
		height: 10rem;
		padding: 10px;
		overflow: hidden;
	}
	img {
		margin-right: 10px;
		object-fit: cover;
		width: 13rem;
		height: 100%;
	}
	margin-right: 1rem;
}
